.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.Navbar .logo{
    width: max(10%,80px);
    height: 60px;
}
.Navbar .profile{
    width: 40px;
}